/* #region global */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #f0f0f0;
  scrollbar-gutter: stable;
}

section {
  max-width: 1068px;
  margin-inline: auto;
  padding-inline: 12px;
  margin-bottom: 40px;
}

input {
  cursor: pointer;
}

/* #endregion global */

/* #region fonts */

html,
input {
  font-family: "Nunito", sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 1.5rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 0.25rem;
}

p {
  line-height: 1.5;
  font-weight: 400;
}

/* #endregion fonts */

/* #region navigation */

header > div {
  background-color: white;
  border-bottom: 1px solid darkgray;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1068px;
  margin-inline: auto;
  padding: 12px;
  align-items: center;
}

#logo em {
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  width: 300px;
  margin-inline: auto;
  align-items: center;
  gap: 8px;
  padding: 0 8px;
}

li {
  font-weight: 500;
  text-transform: uppercase;
}

nav input {
  border: none;
  padding: 6px 36px;
  border-radius: 6px;
  text-transform: uppercase;
  background-color: hsl(16, 70%, 50%);
  color: white;
  font-weight: 500;
}

/* #endregion navigation */

/* #region splash */

header section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  align-items: center;
  min-height: calc(20vh + 240px);
}

header p {
  font-size: 1.25rem;
  max-width: 35ch;
  color: #333333;
  text-align: center;
}

/* #endregion splash */

/* #region selection */

form {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 24px;
}

fieldset {
  background-color: white;
  border-radius: 8px;
  border: 2px solid darkgray;
  padding: 16px;
  height: max-content;
}

legend {
  float: left;
  width: 100%;
  padding-bottom: 8px;
  font-size: 1.5rem;
}

label {
  display: block;
  font-size: 1.25rem;
  font-weight: 200;
  width: 100%;
}

label + label {
  margin-top: 8px;
}

/* #endregion selection */

/* #region cards */

#cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 24px;
}

.card {
  overflow: hidden;
  border-radius: 6px;
  border: 1px solid darkgray;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.card > *:not(.card_media) {
  padding-inline: 16px;
}

img {
  width: 100%;
  height: 100%;
  aspect-ratio: 5 / 4;
  object-fit: cover;
  padding-bottom: 16px;
}

.flex-row {
  margin-top: auto;
  padding-block: 24px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input[type="button"] {
  border: none;
  padding: 12px 32px;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 500;
}

input[type="button"][value="Learn more"] {
  border: 2px solid rgb(24, 24, 24);
  color: rgb(24, 24, 24);
  background-color: transparent;
}

input[type="button"][value="Buy pot"] {
  background-color: rgb(24, 24, 24);
  color: white;
}

/* #endregion cards */
